@import "compass/css3";

/* **************************************************************************
 *  =Reset
 **************************************************************************** */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* **************************************************************************
 *  =Main Content
 **************************************************************************** */
 body {
  background: #f9f7ef;

 }

.main{
	margin: 0 auto;
}

h1 {
	font-family: 'Noto Serif', serif;
	text-align: center;
	margin: 2em 0;
	font-size: 5em;
	text-shadow: 3px 3px 1px #FFF;
}
@media all and (max-width: 699px) {
	h1 {
		font-size: 2.5em;
	}
}
.fp-collage {
	margin: 10em auto 0 auto;
	width: 80.29em;
}
.diamond {
	float: left;
	display: block;
	width: 178px;
	height: 178px;
	background: white;
	@include transform(rotate(45deg)); 
	margin-left: 72px;
	margin-top: -53px;
	
	p {
		position: relative;
	  @include transform-origin(top left);
	  @include transform(rotate(-45deg) translate(-35px, 0));
	  z-index: 1;
	  font-family: 'Noto Serif', serif;
	  font-size: 2.25em;

	  &:hover {
	  	visibility: visible;
	  }
	}
}
.break {
	clear: left;
	margin-left: 36px;
}
.indent {
	clear: left;
	margin-left: 161px;
}
.text {
	position: relative;
	color: white;
	background: #1AA294;
	&:hover {
		color: white;
	}
//Word animation
 	span {
 		position: absolute;
 		opacity: 0;
		line-height: 3;
 		overflow: hidden;
 		-webkit-animation: rotateWords 10s linear infinite 0s;
 		-moz-animation: rotateWords 10s linear infinite 0s;
 		-ms-animation: rotateWords 10s linear infinite 0s;
 		-o-animation: rotateWords 10s linear infinite 0s;
 		animation: rotateWords 10s linear infinite 0s;
 	}
 	.second {
 		-webkit-animation-delay: 5s;
 		-moz-animation-delay: 5s;
 		-ms-animation-delay: 5s;
 		-o-animation-delay: 5s;
 		animation-delay: 5s;
 		margin-left: -10px;// *Hack - Longer words didn't center
 	}

}
 	.two .first {
 		-webkit-animation-delay: 2.5s;
 		-moz-animation-delay: 2.5s;
 		-ms-animation-delay: 2.5s;
 		-o-animation-delay: 2.5s;
 		animation-delay: 2.5s;
 	}
 	.two .second {
 		-webkit-animation-delay: 7.5s;
 		-moz-animation-delay: 7.5s;
 		-ms-animation-delay: 7.5s;
 		-o-animation-delay: 7.5s;
 		animation-delay: 7.5s;
 	}
@-webkit-keyframes rotateWords {
	0% {-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out;
		opacity: .5; }
	8% {opacity: 1; }
	19% {	opacity: 1;}
	25% {	opacity: 0; }
	100% {	opacity: 0;}
}

@keyframes rotateWords {
	0% {-webkit-animation-timing-function: ease-in-out;
		-moz-animation-timing-function: ease-in-out;
		-ms-animation-timing-function: ease-in-out;
		-o-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out;
		opacity: .5; height: 0px; }
	8% {opacity: 1; height: 45px;}
	19% {	opacity: 1; height: 45px;}
	25% {	opacity: 0; height: 45px;}
	100% {	opacity: 0;}
}


.thumb {
	background: url(sprite-fp.jpg);
	position: relative;
	overflow: hidden;
	@include transition(500ms);
	&:hover {
		opacity: .5;
	}
	&.dark:hover {
		background: green;
	}	
	&:hover:after {
		@include box-shadow(inset 0 0 100px #5c705d)
	}
	&.dark:hover:after {
		@include box-shadow(inset 0 0 100px #5c705d)	
	}
}

.image p {
	visibility: hidden;
}
//Rotates and centers the bg image
.thumb:after {
	content: "";
	position: absolute;
	top: -36px;
	left: -36px;
	width: 250px;
	height: 250px;
	background: inherit;
	@include transform(rotate(-45deg));

}

.no-csstransforms .diamond {
  margin-left: 0;
  margin-top: 0; }
.no-csstransforms .indent {
  margin-left: 197px; }
.no-csstransforms .break {
  margin-left: 108px; }
.no-csstransforms .diamond p {
  line-height: 178px; }

.image1 {
	background-position: -750px 0;
}
.image2 {
	background-position: -250px 0;
}
.image3 {
	background-position: -500px 0;
}
.image4 {
	background-position: 0 0;
}
.image5 {
	background-position: -1000px 0;
}
.image6 {
	background-position: -1250px 0;
}
.image7 {
	background-position: -1500px 0;
}
.image8 {
	background-position: -1750px 0;
}
.image9 {
	background-position: -2000px 0;
}
.image10 {
	background-position: -2250px 0;
}
.image11 {
	background-position: -2500px 0;
}

/*
***************************
* =Responsive Resize
***************************
*/
//Turn off extra words for small screen, will turn back on later.
.third, .fourth {
	display: none;
}

//75% of starting point
@media (max-width: 80em) { 
	.fp-collage {
		width: 67em;
	}
	.diamond {
		width: 133.5px;
		height: 133.5px;
		margin-left: 54px;
		margin-top: -39.76px;
		p {
				font-size: 2em;
				margin-left: 15px;
		}
	}
	.break {
		margin-left: 36px;
	}
	.indent {
		margin-left: 130.75px;
	}

}
//I know, bad idea, but sort of an ipad specific width. - begin removing images
@media (max-width: 61em) {
	.fp-collage {
		width: 54em;
	}
	.image1, .image4 {
		display: none;
	}
	.diamond {
		margin-top: -38.76px;
	}
	.indent2{
		margin-left: 122px;
	}
	.indent {
		margin-left: 29.75px;
	}

}

//Small Size Kindle fire and etc
@media (max-width: 42em) { 
	.fp-collage {
		width: 45em;
	}
	.image7, .image11, .image4, .image10, .image9, .text.two {
		display: none;
	}
	.image1 {
		display: block;
	}
	.diamond {
		width: 133.5px;
		height: 133.5px;
		margin-left: 54px;
		margin-top: -39.76px;

	}
	.break {
		margin-left: 36px;
	}
	.indent2 {
		margin-left: 54px;
	}
	.indent {
		margin-left: 130.75px;
	}
	.third, .fourth {
		display: block;
	}
	//Add extra words to animation
	span.third {
		-webkit-animation-delay: 2.5s;
		-moz-animation-delay: 2.5s;
		-ms-animation-delay: 2.5s;
		-o-animation-delay: 2.5s;
		animation-delay: 2.5s;
		overflow: visible;
	}	
	span.second {
		-webkit-animation-delay: 5s;
		-moz-animation-delay: 5s;
		-ms-animation-delay: 5s;
		-o-animation-delay: 5s;
		animation-delay: 5s;
	}	
	span.fourth {
		-webkit-animation-delay: 7.5s;
		-moz-animation-delay: 7.5s;
		-ms-animation-delay: 7.5s;
		-o-animation-delay: 7.5s;
		animation-delay: 7.5s;
	}
}

//A little smaller for large size phones
@media (max-width: 35em) { 
	.fp-collage {
		width: 374px;
		margin-top: 3em;
	}
	.image3, .image8, .image6 {
		display: none;
	}
	.diamond.image5 {
		margin-left: 130.75px;
	}

	.diamond {
		width: 133.5px;
		height: 133.5px;
		margin-left: 54px;
		margin-top: -39.76px;
		p {

		}
	}
	.break {
		margin-left: 36px;
	}
	.indent {
		margin-left: 130.75px;
	}
}

//Smallest Size Phones
@media (max-width: 29.75em) { 
	.fp-collage {
		width: 100%;
		height: 213px;
		margin-top: 0;
		position: relative;

	}
	.diamond {
		position: absolute;
		width: 50%;
		margin-left: 0;
		margin-top: 0;
		@include transform(none);
		p {

		}
	}
	.diamond.image1 {
		height: 213px;
		background-position-x: -750px;
	}
	.diamond.image5 {
		height: 213px;
		margin-left: 0;
		top: 0;
		right: 0;
		background-position-x: -2500px;
	}
	.thumb:after {
		@include transform(none);
	}
	.text {
		display: none;
		// width: 100%;
		// height: 37px;
		// position:absolute;
		// bottom: 0;
		// left: 0;
		// background: $brandblue;
		// color: white;

	}
	.diamond.image2 {
		display: none;
	}
	.break {
		margin: 0;
	}
	.indent {
		margin: 0;
	}
}